<footer class="site-footer">
  <div class="site-width">
    <h1><a href="{{site.baseurl}}/"><abbr title="Research Operations Community">Re+Ops</abbr></a></h1>
    <nav class="nav-primary">
      <ul>
        <li class="nav-home"><a href="{{site.baseurl}}/">Home</a>
        <li class="nav-about"><a href="{{site.baseurl}}/about">About</a>
        <li class="nav-community"><a href="{{site.baseurl}}/community">Community</a>
        <li class="nav-resources"><a href="{{site.baseurl}}/resources">Resources</a>
      </ul>
    </nav>
    <nav class="nav-secondary">
      <ul>
        <li class="nav-twitter"><a href="https://twitter.com/teamreops?lang=en">Twitter</a>
        <li class="nav-vimeo"><a href="https://vimeo.com/teamreops">Vimeo</a>
        <li class="nav-medium"><a href="https://medium.com/researchops-community">Medium</a>
      </ul>
    </nav>

  </div>
</footer>