<header class="header">
  <div class="site-width">
    <h1><a href="{{site.baseurl}}/"><abbr title="Research Operations Community">Re+Ops</abbr></a></h1>
    <nav>
      <ul>
        <li class="nav-home"><a href="{{site.baseurl}}/">Home</a>
        <li class="nav-about"><a href="{{site.baseurl}}/about">About</a>
        <li class="nav-community"><a href="{{site.baseurl}}/community">Community</a>
        <li class="nav-resources"><a href="{{site.baseurl}}/resources">Resources</a>
      </ul>
    </nav>    
  </div>
</header>