<head>
<!-- Default head tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

<!-- Favicon head tag -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<header class="header">
  <div class="site-width">
    <h1><a href="{{site.baseurl}}/"><abbr title="Research Operations Community">Re+Ops</abbr></a></h1>
    <nav>
      <ul>
        <li class="nav-home"><a href="{{site.baseurl}}/">Home</a>
        <li class="nav-about"><a href="{{site.baseurl}}/about">About</a>
        <li class="nav-cheese-board"><a href="{{site.baseurl}}/cheese-board">Board</a>
        <li class="nav-community"><a href="{{site.baseurl}}/community">Community</a>
        <li class="nav-resources"><a href="{{site.baseurl}}/resources">Resources</a>
      </ul>
    </nav>    
  </div>
</header>
