/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a{  color: #006fbe; text-decoration: ;}
a:hover{ color: #00aedf; }

.a-skip-to-main{
	position: absolute;
	left: -9999em;
}
::selection {
  background: #ffe4c5; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffe4c5; /* Gecko Browsers */
}

a.slack{
	display: inline-block;
	margin-top: 2em;
 	padding: 0.75em 1em;
 	border-radius: 4px;
 	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	background: #006fbe;
	color: white;
}

a.slack:hover{
	background: #0060a5;
}

a.slack:active{
	background: #005a9b;
	color: #c1c8cd;
}

.notice p:last-child { margin-bottom: 0; }

body{
	font-family: museo-sans, Verdana, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #555;
	background: #eee;
	border-top: 1px solid #679d2a;
}

.site-width{
	max-width: 720px;
	margin: 0 auto;
}

main{
	background: #fefefe;
	width: 90%;
	max-width: 720px;
	margin: 1em auto;
	padding: 2em;
	border-radius: 0.25em;
	  border: 4px solid #fff;
	  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}


main h1, 
main h2{
  font-family: "source-serif-pro", georgia;
  font-weight: 700;
  font-size: 32px;
  margin-top: 1em;
  margin-bottom: 0.6em;
  color: #404040;
  text-shadow: 0 1px white;
}

main h1:first-of-type{ margin-top: 0; }

main h1+p{ 
	font-size: 18px;
	line-height: 1.67em;
	max-width: 32em;
}

main h2{
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 0.8em;
  color: #404040;
  text-shadow: 0 1px white;
}


main p, 
main blockquote{
  line-height: 1.4em;
  margin-bottom: 1em;
  max-width: 40em;
}

main blockquote{
	border-left: 3px solid #aaa;
	padding-left: 20px;
	font-style: italic;
}

main ul li{
  list-style-type: disc;
  margin-left: 1.4em;
  margin-bottom: 0.6em;
}

main ul{
	margin-bottom: 2em;
}

/* @end */

/* @group header */

.header{
  padding-top: 1em;
}

.header li{
	display: inline;
}

.header li::after{
	content: "• ";
}

.header li:last-of-type::after{
	content: "";
}

.header h1{
	font-family: museo-sans, Verdana, sans-serif;
	font-weight: 900;
	font-size: 18px;
	color: #1055cc;
	float: left;
}

.header nav{
	float: right;
}

.header::after{
	content: "";
	display: table;
	clear: both;
  
}

/* @end */

/* @group .layout--page main */

.layout--page{
  background: white;
}
.layout--page main hr{
	display: block;
	border: none;
	background: #333;
	height: 3px;
	position: relative;
	margin-top: 28px;
	margin-bottom: 28px;
}

.layout--page main hr::before{
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	border-top: 1px solid #333;
}

.layout--page main a{ color: #009b76; }
.layout--page main a:hover{
  color: #1f5f5a;
  text-decoration: underline;
}

.layout--page main strong{ font-weight: 600; }
.layout--page main em{ font-style: italic; }


.layout--page main ol li:before{ margin-left: -1.4em;}

.layout--page main p{ max-width: 40rem; }
.layout--page main li{ max-width: 34.6em; }

.layout--page main p, .layout--page main li{ line-height: 1.45em; }

.layout--page main li{ list-style-type: square; }
.layout--page main li:first-child h2{ margin-top: 0; }

.layout--page main p.dedication,
.layout--page main p.credit{
  text-indent: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 1.4em;
  color: #333;
}

.layout--page main h1{
  font-size: 28px;
  line-height: 1.2em;
  font-family: "abril-titling-condensed", Georgia, serif;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 0.6rem;
  color: #cc4c34;
}

.layout--page main h1+ul, h1+ol{	padding-top: 0; }

.layout--page main code{
  font-family: Input Sans, Monaco, "Courier New", Courier, mono;
  font-weight: 600;
  font-size: 0.9em;
  color: #d6601d;
}

.layout--page main table{
	width: 100%;
	border: none;
	font-size: 16px;
	line-height: 1.5em;
    font-family: "franklin-gothic-urw", arial, sans-serif;
}

.layout--page main table thead td{
	font-weight: 600;
	border-top: 0.3rem solid;
    font-family: "franklin-gothic-urw", arial, sans-serif;
}
.layout--page main table td{
	border-bottom: 1px solid #888;
	padding: 0.3em;
}

.layout--page main figure{
  line-height: 1.4em;
  margin: 1em 0;
  counter-increment: figure;
}

.layout--page main figure figcaption{
    font-size: 16px;
    line-height: 1.33em;
    font-family: "franklin-gothic-urw", arial, sans-serif;
    margin-top: 1em;
}

@media screen and (min-width: 568.88px){ .layout--page main figure figcaption{ line-height: 1.4em; } }

.layout--page main figure img{
	width: 100%;
}

.layout--page main section section h1,
.layout--page main h2{
  font-family: "franklin-gothic-urw", Arial;
  line-height: 1.4em;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 23px;
  font-weight: 600;
  color: #222 !important;
}

.layout--page main h2.question{
	font: inherit;
	font-weight: normal;
	font-style: italic;
	line-height: 1.4em;
}

.layout--page main blockquote{
  font-style: italic;
  margin-bottom: 1.4em;
  position: relative;
  margin-left: 1.4em;
  margin-top: 0.7em;
}

.layout--page main blockquote::before{
  content: "\201C";
  color: #555;
  position: absolute;
  right: 100%;
  top: 0;
  font-size: 1.8em;
  margin-right: 0.2em;
  margin-top: 0.1em;
}

.layout--page main h1+blockquote{
	margin-top: 24px;
}

.layout--page main li h2,
.layout--page main blockquote h2{
	font-size: 1em;
	font-family: inherit;
}

.layout--page main blockquote p{ text-indent: 0 !important; }

.layout--page main blockquote cite{
  font-size: 0.9em;
  font-style: normal;
  font-family: "franklin-gothic-urw", Arial;
  display: block;
  margin-top: 0.6em;
  line-height: 1.3em;
  padding-left: 0.8em;
}

.layout--page main blockquote cite::before{
  content: "\2014";
  margin-left: -0.95em;
  margin-right: 0.3em;
  color: #555;
}

/* @group .pull-quote */

.layout--page main .pull-quote{
  font-family: "franklin-gothic-urw-cond", Arial, sans-serif;
  font-style: normal;
  color: #cc4c34;
  text-indent: 0;
  margin: 1em 0 0.5em;
  padding-top: 0.5em;
  text-align: center;
  position: relative;
}

.layout--page main .pull-quote::before,
.layout--page main .pull-quote::after{
    content: "\201C";
	display: block;
	position: static;
	font-size: 72px;
	line-height: 0.1;
	color: inherit;
}

.layout--page main .pull-quote::after{
	content: "”";
	margin-left: -0.2em;
	margin-top: 0.5em;
}

.layout--page main .pull-quote p{
  font-size: 28px;
  line-height: 1.4;
  font-family: inherit;
}

@media screen and (min-width: 568.88px){
	.layout--page main .pull-quote{
	  width: 256px;
	  float: right;
	  text-align: left;
	  box-sizing: border-box;
	  padding-left: 1.5em;
	  margin-left: 16px;
	  margin-top: 1em;
	  margin-bottom: 1em;
	}

	.layout--page main .pull-quote+p{
	  text-indent: 1.4em;
    }

	.layout--page main .pull-quote p{
		font-size: 32px;
	}

	.layout--page main .pull-quote::before{
		position: absolute;
		left: 0;
		top: 0.125em;
		color: #ccc !important;
	}

	.layout--page main .pull-quote::after{ display: none; }

}


/* @end */


.layout--page main span.first-letter{
  font-size: 3.2em;
  float: left;
  color: #cc4c34;
  font-weight: 100;
  margin-right: 0.1em;
  margin-top: 0.35em;
  font-family: "abril-fatface";
}

@media screen and (min-width: 568.88px){
	.layout--page main hr{
  	  margin-top: 28px;
	  margin-bottom: 28px;
	}
	.layout--page main h2.question{ line-height: 1.5em; }
	.layout--page main p, .layout--page main li{ line-height: 1.6em; }
	.layout--page main span.first-letter{ font-size: 6em; }
	.layout--page main table{ font-size: 18px; }
}

@media screen and (min-width: 711.11px){
	.layout--page main table{
		font-size: 19px;
		line-height: 1.4em;
	}
}

div.celebrated-content{
  background: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4;
  font-style: italic;
}

@media screen and (min-width: 853.33px){
	.layout--page main .track-site-width{
    	margin-right: -64px;
    	margin-left: -64px;
	}
}

@media screen and (min-width: 924.44px){
  .layout--page main .track-site-width{
    margin-right: -96px;
    margin-left: -96px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1137.77px){
  .layout--page main .track-site-width{
    margin-right: -192px;
    margin-left: -192px;
  }
}

/* @end */

/* @group home */

.home main h1:first-of-type{
	font-size: 35vw;
	line-height: 0.8em;
	font-family: Museo sans;
  color: #2467d2;
}
.home .re-plus{
  display: block;
}

/* @end */

/* @group about */

article.project{
  background: #eee;
  padding: 20px;
  max-width: 28em;
  margin-bottom: 1em;
  border-radius: 0.4em;
}

article.project h4{
	font-size: 18px;
	font-weight: 600;
}

article.project dt{
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.4em;
}
article.project dd{
	margin-left: 1.4em;
	line-height: 1.4em;
}

/* @end */
