<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600,600i|Montserrat:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/reset.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/screen.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} - ResearchOps</title>
  </head>
  <body class="layout--page layout--{{ page.title  | slugify }} ">

    {% include header.html %}

    <main id="main" role="main">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="site-width">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
